@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");
/* line 1, ../../../Documents/mundial_2022/scss/estilos.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../../../Documents/mundial_2022/scss/estilos.scss */
#contenedor_general {
  width: 100%;
}

/* COMIENZO DE ESTILOS PARA NAV */
/* line 12, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav {
  background: #411010;
  width: 100%;
  height: 100px;
  color: #ffffff;
  z-index: 100;
}

/* line 20, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_container {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

/* line 29, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_logo {
  font-weight: 900;
  font-size: 40px;
}

/* line 34, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}

/* line 40, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_item {
  color: #ffffff;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

/* line 45, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_item ::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}

/* line 56, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_item :hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* line 61, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_item1 {
  color: #ffffff;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

/* line 66, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_item1 ::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}

/* line 78, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_item2 {
  color: #ffffff;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

/* line 83, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_item2 ::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  margin: 30px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}

/* line 96, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_item1:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* line 100, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_input:checked + .nav_menu {
  background: #411010;
}

/* line 104, ../../../Documents/mundial_2022/scss/estilos.scss */
.nav_label,
.nav_input {
  display: none;
}

/* FIN DE ESTILOS PARA NAV */
/* COMIENZO DE ESTILOS PARA INDEX */
/* COMIENZO DE ESTILOS PARA CUENTA REGRESIVA */
/* line 114, ../../../Documents/mundial_2022/scss/estilos.scss */
#cuenta {
  background: #411010;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 50px;
}

/* line 123, ../../../Documents/mundial_2022/scss/estilos.scss */
.simply-section {
  width: 150px;
  height: 150px;
  margin: 0 50px;
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 133, ../../../Documents/mundial_2022/scss/estilos.scss */
.simply-amount {
  color: white;
  font-size: 50px;
  font-weight: 700px;
  display: block;
  text-align: center;
}

/* line 141, ../../../Documents/mundial_2022/scss/estilos.scss */
.simply-word {
  color: #fff;
  font-weight: 300px;
  font-size: 30px;
  text-align: center;
}

/* FIN DE ESTILOS PARA CUENTA REGRESIVA */
/* COMIENZO DE ESTILOS PARA SECCION GRUPOS */
/* line 152, ../../../Documents/mundial_2022/scss/estilos.scss */
.gruposabcd {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 158, ../../../Documents/mundial_2022/scss/estilos.scss */
.gruposefgh {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 164, ../../../Documents/mundial_2022/scss/estilos.scss */
.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  box-shadow: 2px 2px 8px 4px #ffffffd1;
  border-radius: 15px;
  font-family: sans-serif;
  background: #405498;
  padding: 20px;
  margin: 50px;
}

/* line 178, ../../../Documents/mundial_2022/scss/estilos.scss */
.banderas2 {
  border-radius: 15px;
  width: 70px;
  height: 40px;
}

/* line 184, ../../../Documents/mundial_2022/scss/estilos.scss */
.equipo1 {
  font-size: 24px;
  background: #c6c6c6;
  margin: 2px;
  border-radius: 15px;
}

/* line 191, ../../../Documents/mundial_2022/scss/estilos.scss */
.equipo2 {
  font-size: 24px;
  background: #c6c6c6;
  margin: 2px;
  border-radius: 15px;
}

/* line 198, ../../../Documents/mundial_2022/scss/estilos.scss */
.equipo3 {
  font-size: 24px;
  background: #c6c6c6;
  margin: 2px;
  border-radius: 15px;
}

/* line 205, ../../../Documents/mundial_2022/scss/estilos.scss */
.equipo4 {
  font-size: 24px;
  background: #c6c6c6;
  margin: 2px;
  border-radius: 15px;
}

/* line 212, ../../../Documents/mundial_2022/scss/estilos.scss */
.titulos {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
}

/* line 218, ../../../Documents/mundial_2022/scss/estilos.scss */
.titulo_principal1 {
  text-align: center;
  margin-top: 80px;
}

/* line 222, ../../../Documents/mundial_2022/scss/estilos.scss */
.titulo_principal1 h1 {
  font-size: 50px;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
}

/* line 229, ../../../Documents/mundial_2022/scss/estilos.scss */
#container {
  background: rgba(212, 212, 212, 0.9);
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  margin: 50px;
  height: 250px;
  width: 450px;
}

/* line 238, ../../../Documents/mundial_2022/scss/estilos.scss */
#container h1 {
  font-size: 20px;
  text-align: center;
}

/* line 243, ../../../Documents/mundial_2022/scss/estilos.scss */
#container .product-details p {
  font-family: "Farsan", cursive;
  text-align: center;
  font-size: 15px;
  color: #000000;
}

/* line 250, ../../../Documents/mundial_2022/scss/estilos.scss */
#container .albay {
  width: 100%;
  height: 100%;
}

/* 	Product details  */
/* line 257, ../../../Documents/mundial_2022/scss/estilos.scss */
.product-details {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 30px;
  height: 100%;
  float: left;
  width: 50%;
}

/* product image  */
/* line 268, ../../../Documents/mundial_2022/scss/estilos.scss */
.product-image {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 50%;
  display: inline-block;
}

/* line 278, ../../../Documents/mundial_2022/scss/estilos.scss */
.product-image :hover .info {
  transform: translateX(0);
}

/* line 282, ../../../Documents/mundial_2022/scss/estilos.scss */
.product-image :hover img {
  transition: all 0.3s ease-out;
  transform: scale(1.2, 1.2);
}

/* line 288, ../../../Documents/mundial_2022/scss/estilos.scss */
.info ul li {
  transition: 0.3s ease;
}

/* line 291, ../../../Documents/mundial_2022/scss/estilos.scss */
.info ul li :hover {
  transform: translateX(50px) scale(1.3);
}

/* line 296, ../../../Documents/mundial_2022/scss/estilos.scss */
.banderas {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/* line 302, ../../../Documents/mundial_2022/scss/estilos.scss */
.banderas1 {
  width: 25px;
  height: 25px;
  margin-left: 35px;
}

/* COMIENZO DE ESTILOS PARA GRUPO A */
/* line 310, ../../../Documents/mundial_2022/scss/estilos.scss */
.grupo1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 316, ../../../Documents/mundial_2022/scss/estilos.scss */
.grupo2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FIN DE ESTILOS PARA GRUPO A */
/* FIN DE ESTILOS PARA SECCION GRUPOS */
/* FIN DE ESTILOS PARA INDEX */
/* COMIENZO DE ESTILOS PARA FIXTURE */
/* line 329, ../../../Documents/mundial_2022/scss/estilos.scss */
p .info {
  width: 50%;
  text-align: center;
}

/* line 334, ../../../Documents/mundial_2022/scss/estilos.scss */
.info_fixture {
  text-align: center;
  margin: 50px;
  color: #fff;
  font-size: 25px;
}

/* COMIENZO DE ESTILOS PARA FIXTURE */
/* COMIENZO DE ESTILOS PARA OCTAVOS DE FINALES */
/* line 345, ../../../Documents/mundial_2022/scss/estilos.scss */
.tarjeta1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 190px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #822828d1;
  border-radius: 15px;
  font-family: sans-serif;
  margin: 50px;
}

/* line 358, ../../../Documents/mundial_2022/scss/estilos.scss */
.octavos1 {
  font-size: 24px;
  background: #b7762b;
  margin: 2px;
  border-radius: 15px;
}

/* line 365, ../../../Documents/mundial_2022/scss/estilos.scss */
.octavos2 {
  font-size: 24px;
  background: #b7762b;
  margin: 2px;
  border-radius: 15px;
}

/* line 372, ../../../Documents/mundial_2022/scss/estilos.scss */
.octavos_final_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 378, ../../../Documents/mundial_2022/scss/estilos.scss */
.octavos_final_2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FIN DE ESTILOS PARA OCTAVOS DE FINALES */
/* COMIENZO DE ESTILOS PARA CUARTOS DE FINALES */
/* line 387, ../../../Documents/mundial_2022/scss/estilos.scss */
.tarjeta2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 190px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #822828d1;
  border-radius: 15px;
  font-family: sans-serif;
  margin: 50px;
}

/* line 400, ../../../Documents/mundial_2022/scss/estilos.scss */
.cuartos1 {
  font-size: 24px;
  background: #b7762b;
  margin: 2px;
  border-radius: 15px;
}

/* line 407, ../../../Documents/mundial_2022/scss/estilos.scss */
.cuartos2 {
  font-size: 24px;
  background: #b7762b;
  margin: 2px;
  border-radius: 15px;
}

/* line 414, ../../../Documents/mundial_2022/scss/estilos.scss */
.octavos {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 420, ../../../Documents/mundial_2022/scss/estilos.scss */
.cuartos_final_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FIN DE ESTILOS PARA CUARTOS DE FINALES */
/* COMIENZO DE ESTILOS PARA SEMI FINALES */
/* line 429, ../../../Documents/mundial_2022/scss/estilos.scss */
.tarjeta3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 190px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #822828d1;
  border-radius: 15px;
  font-family: sans-serif;
  margin: 50px;
}

/* line 442, ../../../Documents/mundial_2022/scss/estilos.scss */
.semis1 {
  font-size: 24px;
  background: #b7762b;
  margin: 2px;
  border-radius: 15px;
}

/* line 449, ../../../Documents/mundial_2022/scss/estilos.scss */
.semis2 {
  font-size: 24px;
  background: #b7762b;
  margin: 2px;
  border-radius: 15px;
}

/* line 456, ../../../Documents/mundial_2022/scss/estilos.scss */
.semi_final_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FIN DE ESTILOS PARA SEMI FINALES */
/* COMIENZO DE ESTILOS PARA FINAL */
/* line 465, ../../../Documents/mundial_2022/scss/estilos.scss */
.tercero_cuarto_puesto {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 471, ../../../Documents/mundial_2022/scss/estilos.scss */
.tercerycuarto {
  text-align: center;
}

/* line 474, ../../../Documents/mundial_2022/scss/estilos.scss */
.tercerycuarto h2 {
  font-size: 80px;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  margin: 100px;
}

/* line 482, ../../../Documents/mundial_2022/scss/estilos.scss */
.primero_segundo_puesto {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 488, ../../../Documents/mundial_2022/scss/estilos.scss */
.primeroysegundo {
  text-align: center;
}

/* line 491, ../../../Documents/mundial_2022/scss/estilos.scss */
.primeroysegundo h2 {
  font-size: 80px;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  margin: 100px;
}

/* FIN DE ESTILOS PARA FINAL */
/* Titulo principal para octavos/cuartos/semi/final */
/* line 502, ../../../Documents/mundial_2022/scss/estilos.scss */
.titulo_principal3 {
  text-align: center;
}

/* line 505, ../../../Documents/mundial_2022/scss/estilos.scss */
.titulo_principal3 h1 {
  font-size: 80px;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
}

/* Titulo principal para octavos/cuartos/semi/final */
/* Titulos para tarjetas */
/* line 515, ../../../Documents/mundial_2022/scss/estilos.scss */
.titulos1 {
  font-size: 30px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
}

/* Titulos para tarjetas */
/* Titulo principal para seccion Fixture y secciones de faces de grupos */
/* line 526, ../../../Documents/mundial_2022/scss/estilos.scss */
.titulo_principal2 {
  text-align: center;
}

/* line 529, ../../../Documents/mundial_2022/scss/estilos.scss */
.titulo_principal2 h1 {
  font-size: 80px;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  margin-top: 100px;
}

/* Titulo principal para seccion Fixture y secciones de faces de grupos */
/* line 539, ../../../Documents/mundial_2022/scss/estilos.scss */
.menu_categorias {
  box-shadow: 2px 2px 8px 4px #ffffffd1;
  margin-top: 30px;
  width: 100%;
  color: #ffffff;
  z-index: 20;
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
  text-align: center;
  border-radius: 20px;
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
}

/* line 554, ../../../Documents/mundial_2022/scss/estilos.scss */
.menu_grupos a {
  color: #ffffff;
  z-index: 20;
  display: grid;
  gap: 3em;
  text-align: center;
  border-radius: 20px;
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
  margin: 10px;
}

/* line 566, ../../../Documents/mundial_2022/scss/estilos.scss */
.paises {
  font-size: 20px;
  padding: 10px;
}

/* fonts  */
/* COMIENZO ESTILOS DE SECCION EQUIPOS */
/* line 575, ../../../Documents/mundial_2022/scss/estilos.scss */
.fondoqatar {
  width: 40%;
  margin: 50px;
}

/* line 580, ../../../Documents/mundial_2022/scss/estilos.scss */
.anfitrion p {
  color: #fefefe;
  font-size: 25px;
}

/* line 585, ../../../Documents/mundial_2022/scss/estilos.scss */
.anfitrion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* line 592, ../../../Documents/mundial_2022/scss/estilos.scss */
.argentina {
  width: 40%;
  margin: 50px;
}

/* line 597, ../../../Documents/mundial_2022/scss/estilos.scss */
.infoargentina p {
  color: #fefefe;
  font-size: 25px;
}

/* line 602, ../../../Documents/mundial_2022/scss/estilos.scss */
.infoargentina {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Para el ancho y alto de las imagenes. Modificalo a gusto =)  */
/* line 610, ../../../Documents/mundial_2022/scss/estilos.scss */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  height: 500px;
  margin: auto;
}

/* Para los margenes del contendor de las fotos. Podes cambiarle el ancho a gusto tambien! */
/* line 618, ../../../Documents/mundial_2022/scss/estilos.scss */
.carousel-control {
  width: 10%;
}

/* line 622, ../../../Documents/mundial_2022/scss/estilos.scss */
.nombre_estadios {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* FIN ESTILOS DE SECCION EQUIPOS */
/* COEMINZO ESTILOS DE PIE DE PAGINA */
/* line 632, ../../../Documents/mundial_2022/scss/estilos.scss */
footer {
  min-height: 100%;
  background-color: #afafaf;
  background-image: -moz-linear-gradient(top, #191919, #000000);
  background-image: -o-linear-gradient(top, #191919, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #191919), color-stop(1, #000000));
  background-image: -webkit-linear-gradient(#191919, #000000);
  background-image: linear-gradient(top, #191919, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#191919", endColorStr="#000000");
  border-top: 1px solid rgba(50, 50, 50, 0.3);
  width: 100%;
  position: relative;
  clear: both;
  padding-top: 0px;
  overflow: visible;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  line-height: 100px;
  margin-top: 1000px;
}

/* line 660, ../../../Documents/mundial_2022/scss/estilos.scss */
.footer {
  border-top: 1px solid #222;
}

/* line 664, ../../../Documents/mundial_2022/scss/estilos.scss */
.footwhat {
  margin-left: 100px;
}

/* FIN ESTILOS DE PIE DE PAGINA */
@media (max-width: 768px) {
  /* line 671, ../../../Documents/mundial_2022/scss/estilos.scss */
  .nav_logo {
    font-size: 15px;
  }
  /* line 675, ../../../Documents/mundial_2022/scss/estilos.scss */
  .nav_label {
    display: block;
    cursor: pointer;
  }
  /* line 680, ../../../Documents/mundial_2022/scss/estilos.scss */
  .nav_menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background: #411010;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    z-index: 100;
    font-size: 20px;
  }
  /* line 697, ../../../Documents/mundial_2022/scss/estilos.scss */
  .nav_item {
    color: #fefefe;
    text-decoration: none;
    background: #405498;
    border-radius: 100px;
    width: 100%;
    text-align: center;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  /* line 706, ../../../Documents/mundial_2022/scss/estilos.scss */
  .nav_item :hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  /* line 710, ../../../Documents/mundial_2022/scss/estilos.scss */
  .nav_item ::after {
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path 0.3s;
  }
  /* line 722, ../../../Documents/mundial_2022/scss/estilos.scss */
  .nav_item2 {
    text-decoration: none;
    border-radius: 100px;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  /* line 727, ../../../Documents/mundial_2022/scss/estilos.scss */
  .nav_item2 :hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  /* line 731, ../../../Documents/mundial_2022/scss/estilos.scss */
  .nav_item2 ::after {
    content: "";
    display: block;
    width: 90%;
    margin: 30px;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path 0.3s;
  }
  /* line 743, ../../../Documents/mundial_2022/scss/estilos.scss */
  .menu_grupos {
    display: grid;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-size: 25px;
  }
  /* line 750, ../../../Documents/mundial_2022/scss/estilos.scss */
  .menu_categorias {
    box-shadow: 2px 2px 8px 4px #ffffffd1;
    margin-top: 30px;
    width: 100%;
    color: #ffffff;
    z-index: 20;
    display: grid;
    grid-auto-flow: dense;
    gap: 1em;
    text-align: center;
    border-radius: 20px;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
  }
  /* line 765, ../../../Documents/mundial_2022/scss/estilos.scss */
  .titulo_principal1 h1 {
    text-align: center;
    font-size: 60px;
  }
  /* line 770, ../../../Documents/mundial_2022/scss/estilos.scss */
  .titulo_principal2 {
    text-align: center;
    margin-top: 200px;
  }
  /* line 775, ../../../Documents/mundial_2022/scss/estilos.scss */
  .titulo_principal3 {
    text-align: center;
    margin-top: 5px;
  }
  /* line 780, ../../../Documents/mundial_2022/scss/estilos.scss */
  .nav_input:checked + .nav_menu {
    clip-path: circle(100% at center);
  }
  /* line 784, ../../../Documents/mundial_2022/scss/estilos.scss */
  .nav {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #ffffff;
    font-size: 15px;
  }
  /* line 791, ../../../Documents/mundial_2022/scss/estilos.scss */
  #cuenta {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  /* line 797, ../../../Documents/mundial_2022/scss/estilos.scss */
  .simply-section {
    background: #411010;
    width: 0px;
    height: 100px;
    margin: 0 50px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* line 808, ../../../Documents/mundial_2022/scss/estilos.scss */
  .simply-amount {
    color: white;
    font-size: 20px;
    font-weight: 700px;
  }
  /* line 814, ../../../Documents/mundial_2022/scss/estilos.scss */
  .simply-word {
    color: #fff;
    font-weight: 300px;
    font-size: 15px;
  }
  /* line 820, ../../../Documents/mundial_2022/scss/estilos.scss */
  .equipo1 {
    font-size: 20px;
    background: #c6c6c6;
    margin: 2px;
  }
  /* line 826, ../../../Documents/mundial_2022/scss/estilos.scss */
  .equipo2 {
    font-size: 20px;
    background: #c6c6c6;
    margin: 2px;
    border-radius: 15px;
  }
  /* line 833, ../../../Documents/mundial_2022/scss/estilos.scss */
  .equipo3 {
    font-size: 20px;
    background: #c6c6c6;
    margin: 2px;
    border-radius: 15px;
  }
  /* line 840, ../../../Documents/mundial_2022/scss/estilos.scss */
  .equipo4 {
    font-size: 20px;
    background: #c6c6c6;
    margin: 2px;
    border-radius: 15px;
  }
  /* line 847, ../../../Documents/mundial_2022/scss/estilos.scss */
  .tarjeta {
    margin-left: 60px;
  }
  /* line 851, ../../../Documents/mundial_2022/scss/estilos.scss */
  .tarjeta1 {
    margin: 10px;
  }
  /* line 855, ../../../Documents/mundial_2022/scss/estilos.scss */
  .tarjeta2 {
    margin: 10px;
  }
  /* line 859, ../../../Documents/mundial_2022/scss/estilos.scss */
  .tarjeta3 {
    margin: 10px;
  }
  /* line 863, ../../../Documents/mundial_2022/scss/estilos.scss */
  .tarjeta4 {
    margin: 10px;
  }
  /* line 867, ../../../Documents/mundial_2022/scss/estilos.scss */
  .product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 50%;
    margin-left: 30px;
  }
}

/*# sourceMappingURL=estilos.css.map */