@import url("https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenedor_general {
  width: 100%;
}

/* COMIENZO DE ESTILOS PARA NAV */
.qatar {
  margin-left: 70px;
}

.nav_item {
  color: #ffffff;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav_item ::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}

.nav_item :hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav_item1 {
  color: #000000;
  margin-left: 110px;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav_item1 ::after {
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}

.nav_item1:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav_input:checked + .nav_menu {
  background: #411010;
}

.nav_label,
.nav_input {
  display: none;
}

/* FIN DE ESTILOS PARA NAV */
/* COMIENZO DE ESTILOS PARA INDEX */
/* COMIENZO DE ESTILOS PARA CUENTA REGRESIVA */
#cuenta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.simply-section {
  width: 150px;
  height: 150px;
  margin: 0 50px;
  border-radius: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.simply-amount {
  color: white;
  font-size: 50px;
  font-weight: 700px;
  display: block;
  text-align: center;
}

.simply-word {
  color: #fff;
  font-weight: 300px;
  font-size: 30px;
  text-align: center;
}

/* FIN DE ESTILOS PARA CUENTA REGRESIVA */
/* COMIENZO DE ESTILOS PARA SECCION GRUPOS */
.titulo_informacion {
  text-align: center;
  margin-top: 80px;
}

.titulo_informacion h1 {
  font-size: 50px;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
}

.titulo_principal1 {
  text-align: center;
  margin-top: 80px;
}

.titulo_principal1 h1 {
  font-size: 50px;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
}

.contenedor_grupos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 200px;
  box-shadow: 2px 2px 8px 4px #ffffffd1;
  border-radius: 15px;
  font-family: sans-serif;
  background: #405498;
  padding: 10px;
  margin: 20px;
}

.titulos {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  font-size: 20px;
}

.titulos_1 {
  display: none;
}

.banderas2 {
  border-radius: 15px;
  width: 50px;
  height: 30px;
}

.equipo1 {
  font-size: 15px;
  background: #c6c6c6;
  margin: 2px;
  border-radius: 15px;
}

.equipo2 {
  font-size: 15px;
  background: #c6c6c6;
  margin: 2px;
  border-radius: 15px;
}

.equipo3 {
  font-size: 15px;
  background: #c6c6c6;
  margin: 2px;
  border-radius: 15px;
}

.equipo4 {
  font-size: 15px;
  background: #c6c6c6;
  margin: 2px;
  border-radius: 15px;
}

.equipos_grupo {
  display: none;
}

.contenedor_responsive_grupo1 {
  display: none;
}

.grupos {
  display: none;
}

.infoequipos {
  text-align: center;
  margin-top: 80px;
}

.infoequipos h1 {
  font-size: 50px;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
}

.grupo1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grupo2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tarjeta5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 300px;
  box-shadow: 2px 2px 8px 4px #ffffffd1;
  border-radius: 15px;
  font-family: sans-serif;
  background: #b7762b;
  padding: 20px;
  margin: 50px;
}

.banderas3 {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  margin-left: 53px;
}

.equipos_vs {
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-family: "Farsan", cursive;
}

.informacion {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: "Farsan", cursive;
}

.banderas {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

/* FIN DE ESTILOS PARA SECCION GRUPOS */
/* FIN DE ESTILOS PARA INDEX */
/* COMIENZO DE ESTILOS PARA FIXTURE */
p .info {
  width: 50%;
  text-align: center;
}

.info_fixture {
  text-align: center;
  margin: 50px;
  color: #fff;
  font-size: 25px;
}

/* COMIENZO DE ESTILOS PARA FIXTURE */
/* COMIENZO DE ESTILOS PARA OCTAVOS DE FINALES */
.tarjeta1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 190px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #822828d1;
  border-radius: 15px;
  font-family: sans-serif;
  margin: 50px;
}

.octavos1 {
  font-size: 24px;
  background: #b7762b;
  margin: 2px;
  border-radius: 15px;
}

.octavos2 {
  font-size: 24px;
  background: #b7762b;
  margin: 2px;
  border-radius: 15px;
}

.octavos_final_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.octavos_final_2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FIN DE ESTILOS PARA OCTAVOS DE FINALES */
/* COMIENZO DE ESTILOS PARA CUARTOS DE FINALES */
.tarjeta2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 190px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #822828d1;
  border-radius: 15px;
  font-family: sans-serif;
  margin: 50px;
}

.cuartos1 {
  font-size: 24px;
  background: #b7762b;
  margin: 2px;
  border-radius: 15px;
}

.cuartos2 {
  font-size: 24px;
  background: #b7762b;
  margin: 2px;
  border-radius: 15px;
}

.octavos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cuartos_final_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FIN DE ESTILOS PARA CUARTOS DE FINALES */
/* COMIENZO DE ESTILOS PARA SEMI FINALES */
.tarjeta3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 190px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #822828d1;
  border-radius: 15px;
  font-family: sans-serif;
  margin: 50px;
}

.semis1 {
  font-size: 24px;
  background: #b7762b;
  margin: 2px;
  border-radius: 15px;
}

.semis2 {
  font-size: 24px;
  background: #b7762b;
  margin: 2px;
  border-radius: 15px;
}

.semi_final_1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FIN DE ESTILOS PARA SEMI FINALES */
/* COMIENZO DE ESTILOS PARA FINAL */
.tercero_cuarto_puesto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tercerycuarto {
  text-align: center;
}

.tercerycuarto h2 {
  font-size: 80px;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  margin: 100px;
}

.primero_segundo_puesto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.primeroysegundo {
  text-align: center;
}

.primeroysegundo h2 {
  font-size: 80px;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  margin: 100px;
}

/* FIN DE ESTILOS PARA FINAL */
/* Titulo principal para octavos/cuartos/semi/final */
.titulo_principal3 {
  text-align: center;
}

.titulo_principal3 h1 {
  font-size: 80px;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
}

/* Titulo principal para octavos/cuartos/semi/final */
/* Titulos para tarjetas */
.titulos1 {
  font-size: 30px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
}

/* Titulos para tarjetas */
/* Titulo principal para seccion Fixture y secciones de faces de grupos */
.titulo_principal2 {
  text-align: center;
}

.titulo_principal2 h1 {
  font-size: 80px;
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
  margin-top: 100px;
}

/* Titulo principal para seccion Fixture y secciones de faces de grupos */
.menu_categorias {
  box-shadow: 2px 2px 8px 4px #ffffffd1;
  margin-top: 50px;
  width: 100%;
  color: #ffffff;
  z-index: 20;
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
  text-align: center;
  border-radius: 20px;
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
}

.volver_atras {
  box-shadow: 2px 2px 8px 4px #ffffffd1;
  margin: 50px auto;
  width: 10%;
  color: #ffffff;
  z-index: 20;
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
  text-align: center;
  border-radius: 20px;
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
}

.fases {
  display: none;
}

.menu_grupos a {
  color: #ffffff;
  z-index: 20;
  display: grid;
  gap: 3em;
  text-align: center;
  border-radius: 20px;
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
  margin: 10px;
}

.paises {
  font-size: 20px;
  padding: 10px;
}

/* fonts  */
/* COMIENZO ESTILOS DE SECCION EQUIPOS */
.fondoqatar {
  width: 40%;
  margin: 50px;
}

.anfitrion p {
  color: #fefefe;
  font-size: 15px;
}

.anfitrion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.argentina {
  width: 40%;
  margin: 50px;
}

.infoargentina p {
  color: #fefefe;
  font-size: 15px;
}

.infoargentina {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Para el ancho y alto de las imagenes. Modificalo a gusto =)  */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 70%;
  height: 500px;
  margin: auto;
}

/* Para los margenes del contendor de las fotos. Podes cambiarle el ancho a gusto tambien! */
.carousel-control {
  width: 10%;
}

.nombre_estadios {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* FIN ESTILOS DE SECCION EQUIPOS */
/* COEMINZO ESTILOS DE PIE DE PAGINA */
footer {
  min-height: 100%;
  background-color: #afafaf;
  background-image: -moz-linear-gradient(top, #191919, #000000);
  background-image: -o-linear-gradient(top, #191919, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #191919), color-stop(1, #000000));
  background-image: -webkit-linear-gradient(#191919, #000000);
  background-image: linear-gradient(top, #191919, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#191919", endColorStr="#000000");
  border-top: 1px solid rgba(50, 50, 50, 0.3);
  width: 100%;
  position: relative;
  clear: both;
  padding-top: 0px;
  overflow: visible;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  line-height: 100px;
  margin-top: 1000px;
}

.footer {
  border-top: 1px solid #222;
}

.footwhat {
  margin-left: 100px;
}

/* FIN ESTILOS DE PIE DE PAGINA */
@media (max-width: 360px) {
  /*SECCION INDEX*/
  .nav_item1 {
    width: 100%;
    text-align: center;
    margin: auto;
    background: #d5a5a5;
  }
  .titulo_informacion h1 {
    font-size: 30px;
  }
  .titulo_principal1 h1 {
    font-size: 30px;
  }
  .infoequipos h1 {
    font-size: 30px;
  }
  #cuenta {
    height: 100px;
  }
  .simply-section {
    width: 1px;
    margin: 40px;
  }
  .simply-amount {
    font-size: 15px;
  }
  .simply-word {
    font-size: 15px;
  }
  .tarjeta {
    display: none;
  }
  .titulos_1 {
    display: flex;
    color: #6fc1e1;
  }
  .equipos_grupo {
    display: block;
    color: #ffffff;
  }
  /*SECCION INDEX*/
  /*SECCION FIXTURE*/
  .menu_categorias {
    display: none;
  }
  .volver_atras {
    width: 50%;
  }
  .nav_item {
    display: flex;
    margin: auto;
  }
  .titulo_principal2 h1 {
    font-size: 30px;
  }
  .fases {
    width: 90%;
    text-align: center;
    display: block;
    color: #ffffff;
    list-style: none;
  }
  .fases_del_mundial a {
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
  }
  /*SECCION FIXTURE*/
  /*SECCION EQUIPOS*/
  .anfitrion p {
    display: none;
  }
  .fondoqatar {
    width: 100%;
    margin: 10px;
  }
  .argentina {
    width: 100%;
    margin: 10px;
  }
  .infoargentina p {
    display: none;
  }
  /*SECCION EQUIPOS*/
  /*SECCION FIXTURE*/
  .contenedor_grupos2 {
    display: none;
  }
  .nav_item2 {
    font-size: 30px;
    text-decoration: none;
  }
  .grupos {
    display: block;
  }
  .grupos a {
    color: #8092cc;
  }
  .titulo_principal3 h1 {
    font-size: 30px;
  }
  /*SECCION FIXTURE*/
  /*SECCION GRUPO A*/
  .contenedor_responsive_grupo1 {
    display: block;
    margin: 20px;
  }
  .equipos {
    margin-left: 30%;
    color: #fefefe;
  }
  .grupo1 {
    display: none;
  }
  .grupo2 {
    display: none;
  }
  .titulo_fechas {
    margin: 20px;
    color: #6fc1e1;
    text-align: center;
  }
  .banderas_fechas {
    text-align: center;
  }
  .banderas3 {
    margin: 20px;
  }
  .equipos_vs span {
    font-size: 25px;
  }
  .grupo1_responsive {
    margin: 80px;
  }
  /*SECCION GRUPO A*/
  /*SECCION OCTAVOS DE FINAL*/
  .octavos_final_1 {
    display: none;
  }
  .octavos_final_2 {
    display: none;
  }
  .titulos1 {
    font-size: 20px;
    text-align: center;
    font-family: "Permanent Marker", cursive;
    color: #6fc1e1;
  }
  .octavos1 {
    font-size: 24px;
    background: #b7762b;
    margin: 10px;
    border-radius: 15px;
  }
  .octavos2 {
    font-size: 24px;
    background: #b7762b;
    margin: 10px;
    border-radius: 15px;
  }
  /*SECCION OCTAVOS DE FINAL*/
  /*SECCION CUARTOS FINAL*/
  .cuartos_final_1 {
    display: none;
  }
  /*SECCION CUARTOS FINAL*/
  /*SECCION SEMI FINAL*/
  .semi_final_1 {
    display: none;
  }
  /*SECCION SEMI FINAL*/
  /*SECCION FINAL*/
  .tercero_cuarto_puesto {
    display: none;
  }
  .primero_segundo_puesto {
    display: none;
  }
  /*SECCION FINAL*/
}
